<footer class="pt-4 my-md-5 pt-md-5 border-top">
  <div class="row">
    <div class="col-12 col-md">
      <p class="d-block mb-3 text-muted text" i18n="footer | copyright">© 2017-2019 foundation Aphasia Help</p>
      <p class="d-block mb-3 text-muted text" i18n="footer | compliant">This website is compliant to the <a href="https://www.nvlf.nl/stream/richtlijnafasieck18-03.pdf">Logopedische richtlijn Diagnostiek en behandeling van afasie bij volwassenen</a></p>

      <div class="column cc-footer-license">
            <div class="license-icons">
            <a class="text-secondary" rel="license" href="https://creativecommons.org/licenses/by/4.0/" title="Creative Commons Attribution 4.0 International license">
              <i class="fab fa-2x fa-creative-commons p-2"></i><i class="fab fa-2x fa-creative-commons-by p-2"></i><i class="fab fa-2x fa-creative-commons-nc p-2"></i>
            </a>
            </div>
            <aside>
            <div xmlns:cc="https://creativecommons.org/ns#" about="https://creativecommons.org">
            <p i18n="footer | creative comments">Except where otherwise <a class="subfoot text-secondary" href="/policies#license">noted</a>, content on this site is licensed under a <a class="subfoot text-secondary" href="https://creativecommons.org/licenses/by/4.0/" rel="license">Creative Commons Attribution 4.0 International license</a>. <a class="subfoot text-secondary" href="https://fontawesome.com/icons" target="blank">Icons</a> by Fontawesome.</p>
            </div>
            </aside>
            </div>

      </div>
  </div>
</footer>