<div class="container justify-content-center">
    <div class="row">
        <div class="col-xs">
        </div>
        <div class="col-md text-center">
            <h1 class="display-5 my-5" i18n="mission statement | page title">Foundation <b>Aphasia Help</b></h1>
            <div class="card-deck text-center">
                <div class="card mb-4 shadow-sm">
                  <div class="card-header">
                    <h4 class="my-0 font-weight-normal" i18n="mission statement | header">The Mission</h4>
                  </div>
                  <div class="card-body">
                        <p i18n="mission statement | paragraph 1">
                            The Mission of Aphasia Help is to promote public awareness and understanding of aphasia and provide support to all persons with aphasia and their caregivers.
                        </p><p i18n="mission statement | paragraph 2">
                            The ApHe envisions a society in which aphasia is a commonly understood word and where all persons with aphasia, regardless of individual differences, their families, health professionals, and the public have access to appropriate education and resources that would enhance their potential for an acceptable quality of life.
                       </p> 
                       <p><a href="#" class="audio"><i class="fas fa-2x fa-assistive-listening-systems"></i></a></p>
                    </div>
                </div>
                <div class="card mb-4 shadow-sm">
                    <div class="card-header">
                      <h4 class="my-0 font-weight-normal">The Team</h4>
                    </div>
                    <div class="card-body">
                         <img src="/assets/team.png" class="rounded img-fluid mb-3" alt="the team"> 
                         <p><a href="#" class="audio"><i class="fas fa-2x fa-assistive-listening-systems"></i></a></p> 
                    </div>
                  </div>
              </div>
              <div><a class="btn btn-lg btn-info m-4" routerLink="/contact" i18n="contact button">Contact</a></div>

              <div>
                <p class="mt-5" i18n="opensource message">This adventure would not have been possible without our sponsors</p>
                <p>
                  <!-- <a href="//www.abnamro.nl" class="m-2 text-secondary"><img src="/assets/images/abn_amro-logo.svg" height="85px"></a> -->
                  <a href="//www.vhn-notarissen.nl" class="m-2 text-secondary"><img src="/assets/images/vhn_notarissen-logo.jpg" height="100px"></a>
                </p>
              </div>

              <div>
                <p class="mt-5" i18n="opensource message">This website is developed with and by the opensource coummunity</p>
                <p>
                  <a href="//angularjs.org" class="m-2 text-secondary"><img src="/assets/angular.png" height="75px"></a>
                  <a href="//swagger.io" class="m-2 text-secondary"><img src="/assets/swagger.png" height="75px"></a>
                  <a href="//openapis.org" class="m-2 text-secondary"><img src="/assets/oai.png" height="75px"></a>
                  <a href="//spring.io" class="m-2 text-secondary"><img src="/assets/spring.png" height="75px"></a>
                  <a href="//www.postgresql.org" class="m-2 text-secondary"><img src="/assets/Postgresql.png" height="75px"></a>
                  <a href="//gitlab.io" class="m-2 text-secondary"><img src="/assets/gitlab.png" height="75px"></a>
                  <a href="//docker.io" class="m-2 text-secondary"><img src="/assets/docker.png" height="75px"></a>
                </p>
                <p><a href="//gitlab.com/dhh---aphasia" class="mt-5">Join our team on Gitlab.</a>
                <p><a href="docs.gitlab.com/ee/user/project/members/#request-access-to-a-project" class="mt-5">Request access to the project.</a></p>
              </div>
        <div class="col-xs">
        </div>
      </div>

      <app-footer></app-footer>
</div>

