<div class="container justify-content-center">
  <div class="row">
      <div class="col-xs">
      </div>
      <div class="col-md text-center">
        <h1 class="my-5">Contact us</h1>
        <form [formGroup]="messageForm" (ngSubmit)="submitForm()">
            <div class="field form-group mb-5">
                <label for="formEmail" i18n="messageForm | email label">Email address*</label>
                <input type="email" name="email" class="form-control" id="formEmail" aria-describedby="emailHelp" placeholder="you@example.com" formControlName="email">
                <div *ngIf="submitted && messageForm.controls.email.errors" class="alert alert-danger" role="alert">
                    <div *ngIf="messageForm.controls.email.errors.email" i18n="messageForm | email alert">Your e-mail is required</div>
                </div>
            </div>
            <div class="field form-group mb-5">
                <label for="formEmail" i18n="messageForm | message label">Message*</label>
                <textarea class="form-control" id="formMessage" placeholder="add a message and/or the donation amount" formControlName="message"></textarea>
                <div *ngIf="submitted && messageForm.controls.message.errors" class="alert alert-danger" role="alert">
                    <div *ngIf="messageForm.controls.message.errors.required" i18n="messageForm | message alert">Please add a message and I'll make sure to repsond to it.</div>
                </div>
            </div>
            <!--
            <div class="field form-row my-5">
                <input type="email" name="email" class="input" placeholder="Your Email" [(ngModel)]="contactEmail">
            </div>
            <div class="field">
                <textarea class="textarea" name="message" placeholder="What is your comment?" [(ngModel)]="contactMessage"></textarea>
            </div>
            <button type="submit" class="button is-danger is-large">Submit</button>-->
            <re-captcha formControlName="recaptchaReactive"></re-captcha>
            <hr class="mb-4">
            <button [disabled]="messageForm.invalid" class="btn btn-primary btn-lg btn-block" type="submit" i18n="messageForm | submit button">Send message</button>
            <div *ngIf="success" class="alert alert-success mt-3" i18n="messageForm | submit alert"><b>Thanks for the message, we try to reply within 5 work days.</b></div>
  
        </form>
      </div>
      <div class="col-xs">
      </div>
    </div>
    
    <app-footer></app-footer>
</div>
