<header>
  <div id="bg-color" class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <a class="btn btn-info mr-4" href="#" routerLink="/donate" i18n="navigation | donate button">Donate</a>
    <div class="my-0 mr-md-auto"></div>
    <nav class="my-2 my-md-0 mr-md-3">
      <a class="p-2 text-dark" routerLink="/" i18n="navigation | home button">Home</a>
      <a class="p-2 text-dark" routerLink="/about" i18n="navigation | about button">About</a>
      <a href="/swagger-ui.html" class="p-2 text-dark" i18n="navigation | api button" target="_blank">API</a>
    </nav>
    <a class="btn btn-outline-primary" placement="bottom" tooltip="ID: {{user.username}}" href="#" routerLink="/user-account">
      <i class="fas fa-user-alt"></i> {{user.username || 'Sign in'}} / <img class="flag" class="flag" src="https://lipis.github.io/flag-icon-css/flags/4x3/gb.svg" alt="United Kingdom (English)"></a>
  </div>
  <!-- Alert message about the website being a proof of concept: -->
  <!-- <div *ngFor="let alert of alerts" class="mx-3">
    <alert [type]="alert.type" [dismissible]="dismissible" (onClosed)="onClosed(alert)">{{ alert.msg }}</alert>
  </div> -->
</header>

