<div class="container justify-content-center">
    <div class="row">
        <div class="col-xs">
        </div>
        <div class="col-md text-center">
                 
            <div class="card-deck text-center mt-5">
                <div class="card mb-4 shadow-sm">
                  <div class="card-header">
                    <h4 class="my-0 font-weight-normal" i18n="selftest | title"><i class="fab fa-wpforms"></i> Aphasia self-test</h4>
                  </div>
                  <div class="card-body">
                    <div>
                      <tabset #testTabs>
                        <tab heading="Q1 ?" id="tab1">
                          <p class="my-5" [ngClass]="{'big': zoomIn}" i18n="selftest | question 1">Is speech fluent ?</p>
                            <form [formGroup]="question01" class="">
                              <div class="form-group">
                                <div class="btn-group" btnRadioGroup formControlName="radio">
                                  <label btnRadio="A" class="btn btn-outline-success btn-lg p-3"
                                         tabindex="0" role="button"><i class="fas fa-thumbs-up"></i></label>
                                  <label btnRadio="B" class="btn btn-outline-warning btn-lg p-3"
                                         tabindex="0" role="button"><i class="fas fa-thumbs-down"></i></label>
                                </div>
                              </div>
                            </form>
                          <p class="help-bar">
                            <button type="button" class="btn btn-primairy text-primairy" (click)="runSpeech()"><i class="fas fa-2x fa-assistive-listening-systems "></i></button>
                            <button type="button" class="btn btn-primairy" (click)="zoom('in')"><i class="fas fa-2x fa-search-plus"></i></button>
                          </p>
                          <button type="button" class="btn btn-outline-primary btn-lg float-right" (click)="selectTab(1)" i18n="selftest | next button">next <i class="fas fa-angle-double-right"></i></button>
                        </tab>

                        <tab heading="Q2 ?">
                            <p class="my-5" [ngClass]="{'big': zoomIn}" i18n="selftest | question 2">Can you comprohend sentences ?</p>
                            <form [formGroup]="question02" class="">
                                <div class="form-group">
                                  <div class="btn-group" btnRadioGroup formControlName="radio">
                                    <label btnRadio="A" class="btn btn-outline-success btn-lg p-3"
                                           tabindex="0" role="button"><i class="fas fa-thumbs-up"></i></label>
                                    <label btnRadio="B" class="btn btn-outline-warning btn-lg p-3"
                                           tabindex="0" role="button"><i class="fas fa-thumbs-down"></i></label>
                                  </div>
                                </div>
                              </form>                                    
                          <p class="help-bar">
                            <button type="button" class="btn btn-primairy text-primairy" (click)="runSpeech()"><i class="fas fa-2x fa-assistive-listening-systems "></i></button>
                            <button type="button" class="btn btn-primairy" (click)="zoom('in')"><i class="fas fa-2x fa-search-plus"></i></button>
                          </p>
                          <button type="button" class="btn btn-outline-primary btn-lg float-right" (click)="selectTab(2)" i18n="selftest | next button">next <i class="fas fa-angle-double-right"></i></button>
                        </tab>

                        <tab heading="Q3 ?">
                          <p class="my-5" [ngClass]="{'big': zoomIn}" i18n="selftest | question 3">Can you repeat words and sentences ?</p>
                            <form [formGroup]="question03" class="">
                                <div class="form-group">
                                  <div class="btn-group" btnRadioGroup formControlName="radio">
                                    <label btnRadio="A" class="btn btn-outline-success btn-lg p-3"
                                           tabindex="0" role="button"><i class="fas fa-thumbs-up"></i></label>
                                    <label btnRadio="B" class="btn btn-outline-warning btn-lg p-3"
                                           tabindex="0" role="button"><i class="fas fa-thumbs-down"></i></label>
                                  </div>
                                </div>
                              </form>  
                          <p class="help-bar">
                            <button type="button" class="btn btn-primairy text-primairy" (click)="runSpeech()"><i class="fas fa-2x fa-assistive-listening-systems "></i></button>
                            <button type="button" class="btn btn-primairy" (click)="zoom('in')"><i class="fas fa-2x fa-search-plus"></i></button>
                          </p>
                          <button type="button" class="btn btn-outline-primary btn-lg float-right" (click)="runSelfTest(3)" i18n="selftest | next button">next <i class="fas fa-angle-double-right"></i></button>
                        </tab>

                        <tab heading="Results" class="disabled">
                          <p  [ngClass]="{'big': zoomIn}" class="my-5" i18n="selftest | selftest">Thank you for the questions we advise you to always consult a specialist.<br> You can start your first training excersise if you like</p>
                            <p class="mb-5"><a href="https://www.aphasia.org/aphasia-definitions/" i18n="selftest | more info">more info..</a></p>
                            <p class="help-bar mb-5">
                            <button type="button" class="btn btn-primairy text-primairy" (click)="runSpeech()"><i class="fas fa-2x fa-assistive-listening-systems "></i></button>
                            <button type="button" class="btn btn-primairy" (click)="zoom('in')"><i class="fas fa-2x fa-search-plus"></i></button>
                          </p>
                          
                          <div class="mb-5">
                            <rating [max]="max" [(ngModel)]="rate" [customTemplate]="t" [readonly]="isReadonly"></rating>
                            <ng-template #t let-i="index" let-v="value">
                              <img style="height:20px" src="/assets/icons/{{i < v ? 'fas' : 'far'}}.svg">
                            </ng-template>
                          </div>

                          <button type="button" class="btn btn-outline-primary btn-lg" (click)="startTraining(4)" i18n="selftest | training button">Start Training <i class="fas fa-angle-double-right"></i></button>
                        </tab>

                        <tab heading="Training" class="disabled">
                          <p class="my-5" [ngClass]="{'big': zoomIn}"  i18n="training | explanation">Welcome to your first training, we will start with a recording of a a few words. Try to name and explain objects on the pictures.</p>
                            <p class="help-bar mb-5">
                              <button type="button" class="btn btn-primairy text-primairy" (click)="runSpeech()"><i class="fas fa-2x fa-assistive-listening-systems "></i></button>
                              <button type="button" class="btn btn-primairy" (click)="zoom('in')"><i class="fas fa-2x fa-search-plus"></i></button>
                            </p>
                          
                          <img class="my-5" src="/assets/images/scheep.jpg" style="height:200px">
                          <img  class="my-5" src="/assets/images/house.png" style="height:200px">

                          <input type="text" name="exerciseId" [ngModel]="exerciseId" class="form-control">
                          <!-- Audio Recording: -->
                          <div>
                            <button class="start-button" *ngIf="!isRecording && !blobUrl" (click)="startRecording()">Start Recording</button>
                            <button class="stop-button" *ngIf="isRecording && !blobUrl" (click)="stopRecording()">Stop Recording</button>
                            <button class="cancel-button" *ngIf="!isRecording && blobUrl" (click)="clearRecordedData()">Clear Recording</button>
                            <div *ngIf="isRecording && !blobUrl"> {{recordedTime}} </div>
                            <div>
                            <audio *ngIf="!isRecording && blobUrl"  controls>
                              <source [src]="blobUrl" type="audio/webm">
                            </audio>
                            </div>
                          </div>

                          <p translate="yes">Download and share it with your therapist.</p>

                        </tab>
                      </tabset>
                    </div>

                  </div>
                    
              </div>
            </div>
        </div>
        <div class="col-xs">
        </div>
      </div>

      <app-footer></app-footer>
</div>