<div class="container justify-content-center">
    <div class="row">
        <div class="col-xs">
        </div>
        <div class="col-md text-center">
            <h1 class="display-5 my-5" i18n="donate | title">Help us help others</h1>
            <p class="lead my-5" i18n="donate | paragraph 1">We would love to give you a clear overview about <span class="font-weight-bold">Aphasia (brain injury)</span>. You can find easy to understand information about the different diagnoses and forms of <span class="font-weight-bold">Aphasia</span>. If you like you can donate and help others <span class="font-weight-bold">improve their lives</span> with a small donation.
              <br><a href="#" class="audio mt-3"><i class="fas fa-2x fa-assistive-listening-systems"></i></a></p>
              <a class="mb-5" href="#"><img src="/assets/donate_video.png" class="rounded img-fluid my-3 video-player" alt="introduction video"></a>
            <div class="card-deck text-center mt-5">
                <div class="card mb-4 shadow-sm">
                  <div class="card-header">
                    <h4 class="my-0 font-weight-normal"><i class="fas fa-hand-holding-usd" i18n="donate | form title"></i>&nbsp;Donate form</h4>
                  </div>
                  <div class="card-body">
                        <p i18n="donate | goal">To be able to start a non profit organisation we would like to raise {{fundGoal}}
                        <br>We are looking into a donation solution but for now just get in touch by clicking donate.</p>
                        <div class="col-md-4 order-md-2 mb-4 mx-auto">
                            <ul class="list-group mb-3">
                              <li class="list-group-item d-flex justify-content-between lh-condensed">
                                <div>
                                    <button type="button" class="btn btn-outline-success btn-lg" (click)="toggleAnswer('small_love')" [ngClass]="{'active':small_love}"><h6 class="my-0" i18n="donate | small love"> <i class="fas fa-heart"></i>&emsp;Small Love</h6></button>
                                </div>
                                <span class="text-muted">€ 5,-</span>
                              </li>
                              <li class="list-group-item d-flex justify-content-between lh-condensed">
                                  <div>
                                      <button type="button" class="btn btn-outline-success btn-lg" (click)="toggleAnswer('medium_love')" [ngClass]="{'active':medium_love}"><h6 class="my-0" i18n="donate | medium love"> <i class="fas fa-heart"></i>&emsp;Medium Love</h6></button>
                                  </div>
                                  <span class="text-muted">€ 10,-</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between lh-condensed">
                                    <div>
                                        <button type="button" class="btn btn-outline-danger btn-lg" (click)="toggleAnswer('big_love')" [ngClass]="{'active':big_love}"><h6 class="my-0" i18n="donate | big love"> <i class="fas fa-heart"></i>&emsp;Big Love</h6></button>
                                      </div>
                                    <span class="text-muted">€ 50,-</span>
                                  </li>

                            </ul>
                          </div>                        
                          <button type="button" class="btn btn-outline-primary btn-lg" (click)="sendMail()" i18n="donate | donate button">DONATE</button>
                          
                    </div>

                </div>
              </div>
              <h4 class="my-5 font-weight-bold" i18n="donate | partners title">Partners</h4>
              <div class="card-deck partners">
                  <div class="card p-3">
                    <a href="https://www.mumc.nl/"><img src="/assets/partners/mumc.png" class="card-img-top" alt="MUMC+"></a>
                  </div>
                  <div class="card p-3">
                    <a href="https://www.maastrichtuniversity.nl/about-um/other-offices/idee"><img src="/assets/partners/idee.png" class="card-img-top" alt="IDEE"></a>
                  </div>
                  <div class="card p-3">
                    <a href="https://www.brightlands.com/brightlands-maastricht-health-campus"><img src="/assets/partners/brightlands.png" class="card-img-top" alt="BRIGHTLANDS"></a>
                  </div>
                </div>
        </div>
        <div class="col-xs">
        </div>

      </div>

      <app-footer></app-footer>
</div>