@font-face {
    font-family: 'Public Sans webfont';
    src: url('/assets/webfonts/PublicSans-Black.woff2') format('woff2'),
         url('/assets/webfonts/PublicSans-Black.woff') format('woff'),
         url('/assets/webfonts/PublicSans-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;

}
@font-face {
    font-family: 'Public Sans webfont';
    src: url('/assets/webfonts/PublicSans-BlackItalic.woff2') format('woff2'),
         url('/assets/webfonts/PublicSans-BlackItalic.woff') format('woff'),
         url('/assets/webfonts/PublicSans-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;

}
@font-face {
    font-family: 'Public Sans webfont';
    src: url('/assets/webfonts/PublicSans-Bold.woff2') format('woff2'),
         url('/assets/webfonts/PublicSans-Bold.woff') format('woff'),
         url('/assets/webfonts/PublicSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;

}
@font-face {
    font-family: 'Public Sans webfont';
    src: url('/assets/webfonts/PublicSans-BoldItalic.woff2') format('woff2'),
         url('/assets/webfonts/PublicSans-BoldItalic.woff') format('woff'),
         url('/assets/webfonts/PublicSans-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;

}
@font-face {
    font-family: 'Public Sans webfont';
    src: url('/assets/webfonts/PublicSans-ExtraBold.woff2') format('woff2'),
         url('/assets/webfonts/PublicSans-ExtraBold.woff') format('woff'),
         url('/assets/webfonts/PublicSans-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;

}
@font-face {
    font-family: 'Public Sans webfont';
    src: url('/assets/webfonts/PublicSans-ExtraBoldItalic.woff2') format('woff2'),
         url('/assets/webfonts/PublicSans-ExtraBoldItalic.woff') format('woff'),
         url('/assets/webfonts/PublicSans-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;

}
@font-face {
    font-family: 'Public Sans webfont';
    src: url('/assets/webfonts/PublicSans-Medium.woff2') format('woff2'),
         url('/assets/webfonts/PublicSans-Medium.woff') format('woff'),
         url('/assets/webfonts/PublicSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;

}
@font-face {
    font-family: 'Public Sans webfont';
    src: url('/assets/webfonts/PublicSans-MediumItalic.woff2') format('woff2'),
         url('/assets/webfonts/PublicSans-MediumItalic.woff') format('woff'),
         url('/assets/webfonts/PublicSans-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;

}
@font-face {
    font-family: 'Public Sans webfont';
    src: url('/assets/webfonts/PublicSans-SemiBold.woff2') format('woff2'),
         url('/assets/webfonts/PublicSans-SemiBold.woff') format('woff'),
         url('/assets/webfonts/PublicSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;

}
@font-face {
    font-family: 'Public Sans webfont';
    src: url('/assets/webfonts/PublicSans-SemiBoldItalic.woff2') format('woff2'),
         url('/assets/webfonts/PublicSans-SemiBoldItalic.woff') format('woff'),
         url('/assets/webfonts/PublicSans-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;

}
@font-face {
    font-family: 'Public Sans webfont';
    src: url('/assets/webfonts/PublicSans-ExtraLight.woff2') format('woff2'),
         url('/assets/webfonts/PublicSans-ExtraLight.woff') format('woff'),
         url('/assets/webfonts/PublicSans-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;

}
@font-face {
    font-family: 'Public Sans webfont';
    src: url('/assets/webfonts/PublicSans-ExtraLightItalic.woff2') format('woff2'),
         url('/assets/webfonts/PublicSans-ExtraLightItalic.woff') format('woff'),
         url('/assets/webfonts/PublicSans-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;

}
@font-face {
    font-family: 'Public Sans webfont';
    src: url('/assets/webfonts/PublicSans-Light.woff2') format('woff2'),
         url('/assets/webfonts/PublicSans-Light.woff') format('woff'),
         url('/assets/webfonts/PublicSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;

}
@font-face {
    font-family: 'Public Sans webfont';
    src: url('/assets/webfonts/PublicSans-LightItalic.woff2') format('woff2'),
         url('/assets/webfonts/PublicSans-LightItalic.woff') format('woff'),
         url('/assets/webfonts/PublicSans-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;

}
@font-face {
    font-family: 'Public Sans webfont';
    src: url('/assets/webfonts/PublicSans-Regular.woff2') format('woff2'),
         url('/assets/webfonts/PublicSans-Regular.woff') format('woff'),
         url('/assets/webfonts/PublicSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;

}
@font-face {
    font-family: 'Public Sans webfont';
    src: url('/assets/webfonts/PublicSans-Italic.woff2') format('woff2'),
         url('/assets/webfonts/PublicSans-Italic.woff') format('woff'),
         url('/assets/webfonts/PublicSans-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;

}
@font-face {
    font-family: 'Public Sans webfont';
    src: url('/assets/webfonts/PublicSans-Thin.woff2') format('woff2'),
         url('/assets/webfonts/PublicSans-Thin.woff') format('woff'),
         url('/assets/webfonts/PublicSans-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;

}
@font-face {
    font-family: 'Public Sans webfont';
    src: url('/assets/webfonts/PublicSans-ThinItalic.woff2') format('woff2'),
         url('/assets/webfonts/PublicSans-ThinItalic.woff') format('woff'),
         url('/assets/webfonts/PublicSans-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}