/* You can add global styles to this file, and also import other style files */
@import 'public-sans';

header{
  #bg-color{
    background: #318EDE3D !important ;
  }
}

body {
  p {
    font-family: 'Public Sans webfont';
    font-style: normal;
    font-size: 16pt;
    letter-spacing: .1rem;
    line-height: 1.5em;
    }

  button {
    font-family: 'Public Sans webfont';
    font-style: normal;
    font-size: 16pt;
    letter-spacing: .1rem;
    line-height: 1.5em;
    }

  form {
    font-family: 'Public Sans webfont';
    font-style: normal;
    font-size: 16pt;
    letter-spacing: .1rem;
    line-height: 1.5em;
    }

  a {
    font-family: 'Public Sans webfont';
    font-style: normal;
    font-size: 16pt;
    letter-spacing: .1rem;
    line-height: 1.5em;
    }

  img.video-player{
    max-width: 480px;
  }
  
  p.small {
    font-size: 12pt;
  }
  
  p.big {
    font-size: 20pt;
  }
  
  .help-bar svg{
    color: #007bff;
  }
  
  footer p{
    font-size: 14pt;
  }
  
  #connect-orcid-button{
    border: 1px solid #D3D3D3;
    padding: .3em;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 1px 1px 3px #999;
    cursor: pointer;
    color: #999;
    font-weight: bold;
    font-size: .8em;
    line-height: 24px;
    vertical-align: middle;
  }
  
  #connect-orcid-button:hover{
    border: 1px solid #338caf;
    color: #338caf;
  }
  
  #orcid-id-icon{
    display: block;
    margin: 0 .5em 0 0;
    padding: 0;
    float: left;
  }
}



