<div class="container justify-content-center">
  <div class="row">
      <div class="col-xs">
      </div>
      <div class="col-md text-center">
          <h1 class="my-5">Why?</h1>
          <p class="lead my-5">
            The foundation <span class="font-weight-bold">Aphasia.help</span> started on April 2019 in the city of Maastricht after the annual Dutch Hacking Health and it was born with the wish to develop and provide exercises that are more adapted to peoples’ personal needs. 
            <!-- <br><a href="#" class="audio"><i class="fas fa-2x fa-assistive-listening-systems mt-3"></i></a> -->
          </p>
          <h1 class="my-5">Our story</h1>
          <p class="lead my-5">
            During the Dutch Hacking Health Maastricht, Irene Gielen pitched her <span class="font-weight-bold">wish to improve rehabilitation exercises for people with aphasia</span>. 
            Approximately a month before the hackathon, Irene had a stroke, resulting in aphasia. Almost immediately, she began to look for exercises for her rehabilitation online. 
            The exercises were not suitable for her specific rehabilitation needs. And she had a dream: to create more effective and suitable exercises for people affected with aphasia. 
          </p>
          <p class="lead my-5">
            Her pitch grabbed the attention of Alexander Malic and Vincent Emonet and they contacted Dr. Carlos Fernando Collares, who had a long experience in <span class="font-weight-bold">computerized adaptive testing</span>, to help them with this project. The team who participated in the hackathon included other developers and Irene’s own speech therapist. The team went to the national finals. The jury compelled us to continue this project: “You guys have to do it!”.
          </p>
          <p class="lead my-5">
            So we decided to go on and to <span class="font-weight-bold">start a foundation</span>. At a later stage, David Magis, renowned creator of the popular R package catR, joined forces to help on the development of the tool.
          </p>
          <!-- <div class="card-deck text-center">
              <div class="card mb-4 shadow-sm">
                <div class="card-header">
                  <h4 class="my-0 font-weight-normal">Watch the video for more info and start the <b>self-test</b></h4>
                </div>
                <div class="card-body">
                      <a href="#"><img src="/assets/intro_video.png" class="rounded img-fluid my-5" alt="introduction video"></a><br>
                      <button type="button" class="btn btn-outline-primary btn-lg mb-4" routerLink="/test">START <i class="fas fa-play-circle"></i></button>
                  </div>
              </div>
            </div> -->
            <div><a class="btn btn-lg btn-info m-4" routerLink="/contact">Contact</a></div>
      </div>
      <div class="col-xs">
      </div>
    </div>
    
    <app-footer></app-footer>
</div>
